<div class="about-item @@if (context.mode) {about-item_@@mode}">
	<div class="about-item__img" style="background-image: url(@@img);"></div>
	<div class="about-item__content">
		<div class="text-block">
			<h2>@@title</h2>
			<p>@@text</p>
		</div>
	</div>
</div>