<div class="post-item @@if (context.mode) {post-item_@@mode}">
	<div class="post-item__header">
		<div class="post-item__img">
			@@img
		</div>
		<div class="post-item__date">@@date</div>
	</div>
	<div class="post-item__content">
		@@text
	</div>
</div>