<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__nav">
				<ul>				
					<li><a href="#">Company</a></li>
					<li><a href="#">Developers</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Status</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Open Source</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Brand Assets</a></li>
					<li><a href="#">Accord Project</a></li>
				</ul>
			</div>
			<div class="footer__social">
				<a href=""><i class="icon-linkedin icon-linkedin-size"></i></a>
				<a href="#"><i class="icon-twitter_blue icon-twitter_blue-size"></i></a>
				<a href="#"><i class="icon-medium icon-medium-size"></i></a>
				<a href="#"><i class="icon-github icon-github-size"></i></a>
			</div>
			<div class="footer__copyright">
				<p>
					© Clause Inc, 2018
				</p>
				<p>
					Clause provides self-help services at your specific direction. We are not a law firm or a substitute for an attorney or law firm. Communications between you and Clause are protected by our Privacy Policy, but not by the attorney-client privilege or as work product. We cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms, or strategies. Your access to this website is subject to our Terms of Service.	
				</p>
				<div class="footer__copyright-links">
					<a href="#">Intellectual Property</a>
					<a href="#">Privacy Policy</a>
					<a href="#">hello@clause.io</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.js"></script>