<header class="header">
	<div class="container header_container">
		<div class="header__inner">
			<div class="header__logo">
				<a href="#" class="logo"></a>
			</div>
			<div class="header__all-nav">
				<input id="header-toggle-imitator" type="checkbox" class="header__toggle-imitator">
				<label for="header-toggle-imitator" class="header__toggle">
					<span></span>
				</label>
				<nav class="header__nav">
					<ul>
						<li><a href="#">Integrations</a></li>	
						<li><a href="#">Solutions</a></li>	
						<li><a href="#">Features</a></li>	
						<li><a href="#">Pricing</a></li>	
						<li class="visible-mobile"><a href="#">Contact US</a></li>	
					</ul>
					<div class="header__nav-buttons visible-mobile">
						<a href="#">Create Account</a>
						<a href="#">Log In</a>
					</div>
				</nav>
			</div>
			<div class="header__buttons">
				<a href="#" class="header__login">Log In</a>
				<a href="#" class="btn btn_border btn_white">Create Account</a>
			</div>
		</div>
	</div>
</header>