@@include('blocks/intro.html')
@@include('blocks/about.html')
@@include('blocks/integrations.html')
@@include('blocks/blockchain.html')
@@include('blocks/banner.html')
@@include('blocks/posts.html')
<section class="text-banner">
	<div class="container">
		<div class="text-block text-center">
			<h2>Create smart contracts with Clause</h2>
			<p>Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod.</p>
			<div class="buttons">
				<a href="#" class="btn btn_border">Get Started</a>
				<a href="#" class="btn">Contact Us</a>
			</div>
		</div>
	</div>
</section>
@@include('blocks/subscribe.html')