// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
	font-family: $sans;
}

body {
	padding: 0px;
	margin: 0px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
	position: relative;
	outline: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 980px;
	padding:  0 20px;
	@include sm {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.visible-desktop {
	@include sm {
		display: none;
	}
}
.visible-mobile {
	@media (min-width: 1000px) {
		display: none;
	} 
}