/**
 * Basic typography style for copy text
 */
body {
    color: $black;
    font-size: 18px;
    font-family: $sans;
    line-height: 1.3;
}

// all title classes
h1,.h1 {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.5px;
	line-height: 1;
	@include sm {
		font-size: 40px;
		font-weight: 600;
	}
}
h2,.h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.175;
    @include sm {
    	font-size: 27px;
    }
    .text-block & {
		margin-bottom: 14px;
		color: $black;
    }
}

h3,.h3 {
	font-weight: 700;
	font-size: 24px;
}

.text-block {

	p {
		color: $grey;
		margin-bottom: 30px;
		line-height: 1.65;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	> *:first-child {
		margin-top: 0;
	}
}

.text-center {
	text-align: center;
}

[class^='icon-'] {
	background-image: url(../img/ui/icons/sprite/sprite.svg);
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

.link-more {
	color: $primary;
	font-weight: 600;

}
.link {
	color: rgb(0, 67, 186);
	font-weight: 600;
	border-bottom: 2px solid rgba(0, 67, 186, 0.3);
}

.section {
	&__title {
		text-align: center;
		margin-bottom: 71px;
		@include sm {
			margin-bottom: 23px;
		}
	}
}
