// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.text-banner {
	padding: 131px 0 120px;
	@include sm {
		padding: 70px 0;
	}
	&:before,
	&:after {
		content: '';
		width: 100%;
		height: 5px;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/content/Divider.svg);
		z-index: 1;
		@include sm {
			background-position: right 420px center;
		}
	}
	&:after {
		top: auto;
		bottom: 0;
	}
	.text-block p {
		margin-bottom: 39px;
	}
	.buttons {
		@include sm {
			flex-wrap: nowrap;
			.btn {
				padding: 0 10px;
				width: 50%;
			}
		}
	}
}