// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/**
 * Fonts
 */

$sans:'IBM Plex Sans', sans-serif;

/**
 * Colors
 */

$primary: #0043ba;
$black: rgb(18, 35, 48);
$grey: rgb(65, 79, 88);

