.footer {
	padding: 195px 0 65px;
	background: url(../img/content/footer_bg.svg) right bottom no-repeat;
	@include sm {
		padding: 84px 0 70px;
		background-position: right -510px bottom;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		@include sm {
			flex-direction: column;
		}
	}
	&__nav {
	    max-width: 639px;
	    margin-right: -15px;
		ul {		
			color: $primary;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			list-style: none;
			margin-top: -26px;
			li {
				width: 33.333%;
				margin-top: 26px;
				@include sm {
					width: 50%;
				}
			}
		}
	}
	&__social {
		margin-left: -16px;
		display: flex;
		align-items: center;
		@include sm {
			order: -1;
			margin-bottom: 48px;
		}
		a {
			margin-left: 16px;
			display: block;
		}
	}
	&__copyright {
		margin-top: 65px;
		font-size: 12px;
		color: #889198;
		p {
			margin-bottom: 10px;
		}
		&-links {	
			margin-top: -10px;	
			a {
				border-bottom: 1px solid;
				margin-right: 15px;
				margin-top: 28px;
				display: inline-block;
			}
		}
	}
}