.header {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	&_container {
		max-width: 100%;
		padding-left: 60px;
		padding-right: 60px;
		@include sm {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__inner {
		min-height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include sm {
			min-height: 56px;
			height: 56px;
		}
	}
	&__all-nav {
		position: static;
		@include sm {
			height: 100%;
		}
	}
	&__nav {
		@include sm {
			visibility: hidden;
			opacity: 0;
			transition: .3s;
			position: absolute;
			right: 0;
			top: 100%;
			width: 240px;
			background-color: $primary;
			padding: 42px 30px 64px;
		}
		&-buttons {
			margin-top: 52px;
			a {
				color: #fff;
				display: block;
				margin-top: 22px;
			}
		}
		ul {
			list-style: none;
			display: flex;
			margin-left: -42px;
			@include sm {
				flex-direction: column;
				margin-left: 0;
				
				font-size: 27px;
				font-weight: 600;
				margin-top: -18px;
			}
			li {
				margin-left: 42px;
				@include sm {
					margin-left: 0;
					margin-top: 18px;
				}
				a {
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
	&__login {
		margin-right: 20px;
	}
	&__buttons {
		@include sm {
			display: none;
		}
		.btn_white {
			padding-left: 17px;
			padding-right: 17px;
		}
	}
	&__logo {
		@include sm {
			margin-left: 15px;
		}
	}
}
.logo {
	display: block;
	width: 169px;
	height: 39.75px;
	background-size: cover;
	background-image: url(../img/content/logo.svg);
	@include xs {
		width: 98px;
		background-size: 120px 27px;
		height: 27px;
	}
}
// toggle
.header__toggle {
    display: none;
    height: 100%;
    width: 54px;
    cursor: pointer;
    @include sm {
    	display: inline-flex;
    }
    &-imitator {
    	position: absolute;
    	z-index: -1;
    	visibility: hidden;
    	opacity: 0;
    	width: 0;
    	height: 0;
    	overflow: hidden;
    }
    span {
        width: 24px;
        height: 3px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: .3s;
        &:after,
        &:before {
            content: '';
            background-color: #fff;
            display: block;
            position: absolute;
            left: 0;
            top: -7px;
            height: 100%;
            width: 100%;
            transition: .5s;
        }
        &:after {
            top: auto;
            bottom: -7px;
        }
    }
}
.header__toggle-imitator:checked {
    + .header__toggle{	
    	background-color: $primary;
	    span {
	        background-color: transparent;
	        &:before {
	            top: 50%;
	            left: 50%;
	            transform: rotate(45deg) translate(-50%);
	            transform-origin: center left;
	        }
	        &:after {
	            bottom: auto;
	            top: 50%;
	            left: 50%;
	            transform: rotate(-45deg) translate(-50%);
	            transform-origin: center left;
	            width: 100%;
	        }
	    }
    }
    ~ .header__nav {
		visibility: visible;
		opacity: 1;
    }
}