<section class="about">
	<div class="container">
		<div class="about__inner">
			<div class="text-block">
				<h2>What is Clause?</h2>
				<p>Contracts sit at the heart of all organizations. When managed correctly they can be your business’ biggest asset, but that management is often time-consuming and resource intensive. Clause takes that pain away by changing contracts from static documents to a dynamic, integrated, part of your business. Using Clause, you can connect contracts to your existing tools so that you can automate business processes and contract management — all from one powerful platform. </p>
			</div>
			<img src="./img/content/about/animation.jpg" class="about__img">
			<div class="about-items">
				@@loop('components/about-item.html', [
					{
						"img": "./img/content/about/about1@2x.jpg",
						"title" : "Connect your contracts with your other tools",
						"text" : "With Clause, your contracts can connect in real-time to the tools you use everyday like Stripe, Xero, and HelloSign so you can keep everything in sync across your business.",
						"mode": "top"
					},
					{
						"img": "./img/content/about/about2@2x.jpg",
						"title" : "Add Smart Clauses® to your contracts",
						"text" : "Easily automate operations like payments, invoices, and notifications, by adding a Smart Clause into your contract, just like an e-signature block. Store your contract as a template and sign it using your existing tools. ",
						"mode": "top"
					},
					{
						"img": "./img/content/about/about3@2x.jpg",
						"title" : "Configurable payments",
						"text" : "Calculate and perform payments directly from contracts by adding a payments Smart Clause® for deposits, escrow, subscriptions, and more",
						"mode": "top"
					},
					{
						"img": "./img/content/about/about4@2x.jpg",
						"title" : "Real-time status",
						"text" : "See all of your contract events in real-time — even after signature — backed by secure audit trails. The Clause Platform notifies you of obligations and changes to the state of your contracts as they happen. ",
						"mode": "top"
					},
					{
						"img": "./img/content/about/about5@2x.jpg",
						"title" : "All of your contract data at your fingertips",
						"text" : "Store, search, and analyze all of your contract data quickly and simply through the Clause Platform.",
						"mode": ""
					},
					{
						"img": "./img/content/about/about6@2x.jpg",
						"title" : "Engineered for blockchain compatibility",
						"text" : "The Clause Platform and API are compatible with all leading enterprise blockchain platforms, enabling you to simply build and run portable contracts and clauses across ledgers",
						"mode": "img-right"
					}
				])
			</div>
			<div class="text-center about__btn">
				<a href="#" class="btn">Learn More</a>
			</div>
		</div>
	</div>
</section>