<section class="banner">
	<div class="contaner">
		<div class="banner__inner">
			<div class="banner__img"></div>
			<div class="banner__content">
				<div class="text-block text-center">
					<h2>Built on the Accord Project</h2>
					<p>The Accord Project is an industry-led collaboration between the world’s leading law firms and technology companies to develop a blockchain-agnostic standard implementation for the formation and execution of smart legal contracts. </p>
					<a href="#" class="btn">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>