<section class="blockchain">
	<div class="container">
		<div class="blockchain__inner">
			<div class="text-block text-center">
				<h2>Blockchain Networks using Clause</h2>
				<p>The Clause Platform is moving smart contracts forward around the world.</p>
			</div>
			<div class="blockchain-items">
				<div class="blockchain-item">
					<div class="blockchain-item__img" style="background-color: #2C7DF7; box-shadow: 0px 4px 4px rgba(44,125,247,0.16);">
						<img src="./img/content/blockchain/blockchain1@2x.png" alt="">
					</div>
					<div class="blockchain-item__text">Tezos</div>
				</div>
				<div class="blockchain-item">
					<div class="blockchain-item__img" style="background-color: #F50000; box-shadow: 0 4px 4px rgba(245, 0, 0, 0.16);">
						<img src="./img/content/blockchain/blockchain2@2x.png" alt="">
					</div>
					<div class="blockchain-item__text">Corda</div>
				</div>
				<div class="blockchain-item">
					<div class="blockchain-item__img" style="background-color: #230092; box-shadow: 0 4px 4px rgba(35, 0, 146, 0.16);">
						<img src="./img/content/blockchain/blockchain3@2x.png" alt="">
					</div>
					<div class="blockchain-item__text">IBM <br>Blockchain</div>
				</div>
				<div class="blockchain-item">
					<div class="blockchain-item__img" style="background-color: #00B491; box-shadow: 0 4px 4px rgba(0, 181, 145, 0.16);">
						<img src="./img/content/blockchain/blockchain4@2x.png" alt="">
					</div>
					<div class="blockchain-item__text">Agreements Network</div>
				</div>
				<div class="blockchain-item">
					<div class="blockchain-item__img" style="background-color: #FA7E3B; box-shadow: 0 4px 4px rgba(250, 126, 59, 0.16);">
						<img src="./img/content/blockchain/blockchain5@2x.png" alt="">
					</div>
					<div class="blockchain-item__text">Sweetbridge</div>
				</div>
				<div class="blockchain-item">
					<div class="blockchain-item__img" style="background-color: #3942C1; box-shadow: 0 4px 4px rgba(57, 66, 193, 0.16);">
						<img src="./img/content/blockchain/blockchain6@2x.png" alt="">
					</div>
					<div class="blockchain-item__text">Kaleido</div>
				</div>
			</div>
		</div>
	</div>
</section>