<section class="integrations">
	<div class="container">
		<img class="integrations__bg" src="./img/content/integrations/BgImage@2x.jpg" alt="">
		<div class="integrations__inner">
			<div class="integrations__left">
				<div class="integrations__img"></div>
			</div>
			<div class="integrations__right">
				<div class="text-block">
					<h2>Integrations</h2>
					<p>Automate business operations, execute transactions, notify users and more — directly using the Clause Platform</p>
				</div>
				<a href="#" class="link-more">See All Integrations →</a>
			</div>
		</div>
	</div>
</section>