<section class="intro">
	<div class="container">
		<div class="intro__inner">		
			<h1>Connected Contracting</h1>
			<p>Build, manage, and integrate your contracts with your software tools for smarter management</p>
			<div class="buttons intro__buttons">
				<a href="#" class="btn btn_border btn_white">Sign Up</a>
				<a href="#" class="btn btn_white">Paid Plans</a>
			</div>
		</div>
	</div>
</section>