<section class="post">
	<div class="container">
		<div class="posts__inner">
			<h2 class="section__title">Recent posts</h2>
			<div class="tabs tabs_mobile-only">
				<div class="tab">
					<input class="tab__switch" type="radio" checked name="tabs" id="tab1">
					<label class="tab__action" for="tab1" >Blog</label>
					<div class="tab__content">
						@@loop('components/post-item.html', [
							{ "img":"<i class='black-square'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" },
							{ "img":"<i class='black-square'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" },
							{ "img":"<i class='black-square'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" },
							{ "img":"<i class='black-square'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Vivamus adipiscing fermentum volutpat aliquam</a>" }
						])
					</div>
				</div>
				<div class="tab">
					<input class="tab__switch" type="radio" name="tabs" id="tab2">
					<label class="tab__action" for="tab2">Twitter</label>
					<div class="tab__content">
						@@loop('components/post-item.html', [
							{ "img":"<i class='icon-twitter icon-twitter-size'></i>", "date": "May 22, 2017", "text": "Viamus adipiscing fermentum platea bitarg. In hac habitasse platea dictumst. Amus adipiscing fermentum. Habitasse platea.","mode" : "twitter" },
							{ "img":"<i class='icon-twitter icon-twitter-size'></i>", "date": "May 22, 2017", "text": "Viamus adipiscing fermentum platea bitarg. In hac habitasse platea dictumst. Amus adipiscing fermentum. Habitasse platea.","mode" : "twitter" },
							{ "img":"<i class='icon-twitter icon-twitter-size'></i>", "date": "May 22, 2017", "text": "Viamus adipiscing fermentum platea bitarg. In hac habitasse platea dictumst. Amus adipiscing fermentum. Habitasse platea.","mode" : "twitter" }
						])
					</div>
				</div>
				<div class="tab">
					<input class="tab__switch" type="radio" name="tabs" id="tab3">
					<label class="tab__action" for="tab3">Press</label>
					<div class="tab__content">
						@@loop('components/post-item.html', [
							{ "img":"<i class='black-square'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" },
							{ "img":"<i class='icon-t icon-t-size'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" },
							{ "img":"<i class='black-square'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" },
							{ "img":"<i class='icon-t icon-t-size'></i>", "date": "May 22, 2017", "text": "<a href='#' class='link'>Clause joins Hyperledger</a>" }
						])
					</div>
				</div>
			</div>
		</div>
	</div>
</section>