<section class="subscribe">
	<div class="container">
		<div class="subscribe__inner">
			<form class="form form-subscribe">
				<div class="field field_message">
					<h3>Sign up for our newsletter</h3>
				</div>
				<div class="field">
					<label class="field__label">Email address</label>
					<input class="inp" type="text" placeholder="Email address">
				</div>
				<div class="field field_submit">
					<input type="submit" class="btn btn_border" value="Subscribe">
				</div>
			</form>
		</div>
	</div>
</section>