.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	font-size: 18px;
	background-color: $primary;
	border-radius: 4px;
	box-shadow: 2px 2px 6px 0px rgba(18, 35, 48, 0.3);
	height: 50px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	font-weight: 600;
	&_white {
		background-color: rgb(255, 255, 255);
		color: $primary;
		box-shadow: 0px 2px 2px 0px rgba(5, 38, 96, 0.08),
0px 3px 1px -2px rgba(0, 27, 74, 0.08),
0px 1px 5px 0px rgba(0, 27, 74, 0.06);
	}
	&_border {
		background-color: transparent;
		border: 1px solid rgb(0, 67, 186);
		color: $primary;
		box-shadow: none;
		&.btn_white {
			border-color: #fff;
			color: #fff;

		}
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: -20px;
	.btn {
		margin-left: 20px;
	}
}