.form {
	.field {
		@include sm {
			width: 100%;
		}
		label {
			color: rgb(72, 72, 72);
			font-size: 16px;
			font-weight: 700;
			display: block;
			margin-bottom: 3px;
		}
	}
	.inp {
		background: rgb(255, 255, 255);
		border-radius: 3px;
		border: 1px solid rgb(181, 186, 190);
		box-shadow: inset 0px 0px 4px 0px rgb(171, 171, 171);
		height: 47px;
		padding: 0 20px;
		max-width: 100%;
		width: 100%;
	}
	&-subscribe {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-left: -20px;
		@include sm {
			flex-wrap: wrap;
			justify-content: flex-start;
			text-align: center;
			margin-left: 0;
		}
		.inp {
			width: 300px;
			font-size: 18px;
			@include placeholder {
				color: transparent;
			} 
			@include sm {
				min-width: auto;
				@include placeholder {
					color: #889198;
				} 
			}
		}
		.field {
			margin-left: 20px;
			@include sm {
				margin-left: 0;
			}
		}
		.field_submit {
			@include sm {
				margin-top: 30px;
				width: 100%;
			}
		}
		.field__label {
			@include sm {
				display: none !important;
			}
		}
		.field_message {
			margin-bottom: 12px;
		}
		.btn {
			min-width: 160px;
		}
	}
}

.subscribe {
    padding: 29px 0 10px;
    @include sm {
    	padding: 60px 0 50px;
    }
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-left: 20px;
		@include sm {
			padding-left: 0;
		}
	}
}