.tab {
	width: 33.333%;
	margin-bottom: 40px;
	border-bottom: 1px solid #DCDEE0;
	&s {
		display: flex;
		justify-content: space-between;
		padding-bottom: 342px;
	}
	position: static;
	&__content {
		visibility: hidden;
		height: 342px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		transition: .3s;
		overflow-y: auto;
	}
	&__action {
		cursor: pointer;
		padding: 0 12px 13px;
		color: rgb(160, 167, 172);
		display: block;
		text-align: center;
		font-weight: 700;
	}
	&__switch {
		position: absolute;
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
		z-index: -1;
		&:checked {
			+ .tab__action {
				color: #122330;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -1px;
					left: 0;
					height: 2px;
					width: 100%;
					background-color: $primary;
				}
			}
			~ .tab__content  {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
.tabs.tabs_mobile-only {
	@media (min-width: 1000px) {
		padding-bottom: 0;
		.tab {
			padding: 0 15px;	
			width: calc(100%/3 - 13px);
			border-radius: 4px;
			border: 1px solid rgb(220, 222, 224);
		    overflow-y: auto;
		    height: 526px;
		}
		.tab__action {
			padding: 30px 0 14px;
			border-bottom: 1px solid rgb(220, 222, 224);
			margin-bottom: 29px;
			font-size: 24px;
			color: rgb(18, 35, 48);
			font-weight: 700;
			cursor: default;
			text-align: left;
			&:after {
				display: none;
			}

		}
		.tab__switch {
			display: none;
		}
		.tab__content {
			position: relative;
			visibility: visible;
			opacity: 1;
			height: auto;
			overflow: visible;
		}

	} 
}