.about {
	z-index: 1;
	padding: 69px 0px 70px;
	&__img {
		margin-top: 80px;
		@include sm {
			max-width: calc(100% + 30px);
			margin-left: -15px;
			margin-top: 36px;
		}
	}
	&-items {
		margin-top: 78px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: -53px;
		@include sm {
			margin-top: 0;
			margin-bottom: 56px;
		}
	}
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 80px;
		@include sm {
			margin-bottom: 0;
			margin-top: 58px;
			max-width: 100%;
		}
		&__img {
			flex-shrink: 0;
			height: 314px;
			background-color: gray;
			width: 413px;
			margin-left: -46px;
			@include sm {
				max-width: 100%;
				margin-left: 0;
			    background-size: cover;
			}
			@include xs {
				height: auto;
			    padding-bottom: 79.3%;
			}
			+ .about-item__content {
				width: calc(100% - 413px);
				@include sm {
					width: 100%;
				}
			}
		}
		&__content {
			padding-left: 33px;
			margin-top: 7px;
			@include sm {
				padding-left: 0;
			}
		}
		&_img-right {
			.about-item__img {
				margin-left: 0;
				margin-right: -46px;
				@include sm {
					margin-right: 0;
				}
			}
			.about-item__content {
				order: -1;
				padding-left: 0;
				padding-right: 33px;
				@include sm {
					order: 1;
					padding-right: 0;
				}
			}
		}
		&_top {
			max-width: 413px;
			@include sm {
				max-width: 100%;
			}
			.about-item__img {
				margin-left: 0;
			}
			.about-item__content {
				width: 100% !important;

			}
			&:nth-child(2n+1) {
				// margin-top: 250px;
				.about-item__content {
					padding-left: 0;
				}
			}
			&:first-child() {
				margin-top: 165px;
				@include sm {
					margin-top: 58px;
				}
			}
			&:nth-child(2n):not(:nth-child(2)) {
				margin-top: -165px;
				@include sm {
					margin-top: 58px;
				}
			}
		}
	}
}