.banner {
	padding: 90px 0 70px;
	background: rgb(250, 251, 254);
	@include sm {
		padding: 40px 0;
	}
	&__inner {

	}
	&__img {
		margin: 0 auto;
		width: 70px;
		height: 57px;
		margin-bottom: 30px;
		background-image: url(../img/content/Accord_logo@2x.png);
		background-size: cover;
	}
	&__content {
		max-width: 940px;
		padding: 49px 140px 40px;
		margin: 0 auto;
		border-radius: 6px;
		box-shadow: 2px 4px 14px -2px rgba(18, 35, 48, 0.07), 0px 3px 6px -3px rgba(18, 35, 48, 0.12);
		@include sm {
			padding: 42px 15px 50px;
			max-width: calc(100% - 30px);
			.text-block {
				text-align: left !important;
			}
		}
	}
}