.blockchain {
    padding: 70px 0px;
    @include sm {
    	padding: 30px 0;
    }
	&__inner {
		.text-block {
			text-align: left !important;
		}
	}
	&-items {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 29px;
		margin-left: -15px;
		@include sm {
			margin-top: -17px;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	&-item {
		width: 99px;
		margin-top: 50px;
		margin-left: 15px;
		&__img {
			width: 99px;
			height: 99px;
			margin-bottom: 35px;
			border-radius: 50%;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
			}
		}
		&__text {
			text-align: center;
			color: rgb(148, 156, 162);
			font-size: 15px;
			min-height: 38px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
		}
	}
}