.integrations {
	padding: 71px 0;
	@include sm {
		padding: 30px 0;
	}
	&__bg {
		width: 1800px;
		height: 1508px;
		position: absolute;
		left: 64%;
		top: 50%;
		transform: translate(0%, -50%);
		z-index: 0;
		@include sm {
			left: 20%;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@include sm {
			flex-direction: column;
		}
	}
	&__img {
		width: 385px;
		height: 664px;
		background-image: url(../img/content/integrations/Companies.png);
		background-size: cover;
		@include sm {
			height: 270px;
		}
	}
	&__left {
	    margin-left: 62px;
	    margin-right: 114px;
	    @include sm {
	    	margin-top: 42px;
	    }
	}
	&__right {
		max-width: 380px;
		@include sm {
			order: -1;
		}
		.link-more {
			margin-top: 41px;
			display: block;
		}
	}
}