.post {
	padding: 128px 0 79px;
	@include sm {
		padding: 80px 0 80px;
	}
	&-item {
		&:not(:last-child) {
			margin-bottom: 33px;
		}
		&__date {
			font-size: 15px;
			color:  rgb(148, 156, 162);
		}
		&__img {
			flex-shrink: 0;
			margin-right: 5px;
			width: 25px;
			height: 25px;
		}
		&__header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		&__content {
			font-size: 15px;
		}
		&_twitter {
			padding-bottom: 22px;
			border-bottom: 1px solid rgb(220, 222, 224);
			&:not(:last-child) {
				margin-bottom: 23px;
			}
			.post-item__header {
				margin-bottom: 7px;
			}
			.post-item__content {
				line-height: 1.5;
			}
		}
	}
}

.black-square {
	background-color: #122330;
	display: block;
	height: 100%;
}