.intro {
	background-size: cover;
	padding:344px 0 457px;
	background-color: #000;
	color: #fff;
	background-image: url(../img/content/intro/introbg.jpg);
	@include sm {
		padding: 122px 0 130px;
	    background-position: bottom center;
	}
	&__inner {
		text-align: center;
		@include xs {
			text-align: left;
		}
		p {
			max-width: 660px;
			margin: 12px auto 0;
			line-height: 1.6;	
			color: #CCD8EE;		
			@include xs {
				margin-top: 18px;
			}
		}

	}
	&__buttons {
		margin-top: 51px;
		@include xs {
			justify-content: flex-start;
			margin-top: 26px;
		}
		.btn {
			min-width: 160px;
			margin-top: 10px;
		}
	}
}